<html><body bgcolor='#d089f9'><center><font face='Sans-serif'><h2>Hello! Hope this helps</center></h2><br><br><br><div style='width:1300px; border:4px solid white; padding: 15px 15px 15px 15px;'><h2>
<br>*Check that all the cables are securely plugged into the back of the machine and the monitor.
<br>*Check that the power cables are plugged into a power socket and the socket has been turned on.
<br>*Try using a different power socket or, if you are using a power extension strip, plug the power cable directly into a power socket in the wall.
<br>*Replace the power cable with one that you know works.
<br>*Check if there are any lights on at the front of the machine:
<br>*If there are lights on the machine but not the monitor, then it's probably a monitor issue.
<br>*If there are lights on the monitor but not the machine, then it's probably a machine issue.
<br>*If there are no lights on anything, then it may be possible there is a local power cut.
<br>*With laptops, try removing the power cable and the battery. Hold down the power button for about ten seconds, and then plug the battery and power cable in again. Press the power button to see if it switches on.</h2></div></font><br><br><center><a href='/'><h1>Go Home</h1></a><a href='aaa2'><h1>Not helping? Try Troubleshooting.</h1></a></center></body></html>