<html><body bgcolor='#d089f9'><center><h2><font face='Sans-serif'>You can follow these steps to troubleshoot your problem.</center></h2><br><br><br><div style='width:1300px; border:4px solid white; padding: 15px 15px 15px 15px;'><h2>
<br>*Diagnosis
<br>*Open Task Manager
<br>*Simultaneously press [Ctrl] [Alt] [Delete]. You will see a list of all tasks (programs) currently running. You may notice one program has "Not Responding" instead of "Running" listed next to it. Select this task and click the End Task button.
<br>*Another dialog box will open stating that the program is not responding. Choose End Now to close the program.
<br>*Reboot your computer (Warm Boot)
<br>*Resetting a computer that is already turned on:
<br>*Press [Ctrl] [Alt] [Delete] once to open the Task Manager.
<br>*Press [Ctrl] [Alt] [Delete] again to restart the computer.
<br>*Shut down your computer (Cold Boot)
<br>*Start-up of a computer from a powered-down state. 
If you restart your computer and the problem isn’t resolved, make an attempt to completely shut down the computer by pressing the power button. Let it set for 15-30 seconds then restart the computer.</h2></div></font><br><br><center><a href='/'><h1>Go Home</h1></a></center></body></html>