<html><body bgcolor='#d089f9'><center><h2><font face='Sans-serif'>You can follow these steps to troubleshoot your problem.</center></h2><br><br><br><div style='width:1300px; border:4px solid white; padding: 15px 15px 15px 15px;'><h2>
<br>*Diagnosis
<br>*To place the volume icon in the system tray in the lower right of the desktop:
<br>*Place the mouse arrow on the Start button in the lower left corner.
<br>*Left mouse-click on Settings.
<br>*Left mouse-click on the Control Panel
<br>*Place the mouse arrow on the Multimedia icon. 
(In Windows XP, look for the Sounds and Audio Devices icon .)
<br>*Double-left mouse click.
<br>*Left mouse-click on the Audio file tab.
<br>*Towards the bottom look for the check box that reads "Show volume control on taskbar."
<br>*Make sure the box is checked to activate the icon.</h2></div></font><br><br><center><a href='/'><h1>Go Home</h1></a><a href='aaa'><h1>Not helping? Try Querying.</h1></a></center></body></html>